{block content}
	
	{include ../tabs.latte active => 'deploy'}

	<h1>{$actualPage->getTitle()}</h1>
	
	<a class="btn btn-primary ajax" n:href="addApplication idPage => $actualPage->getId()">{_'Add applicaton'}</a>

	<br /><br />

	<div class="tab-content">
		<div class="tab-pane active">
			{control applicationsGrid}
		</div>
	</div>
	
{/block}
