<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "deploy"}class="active"{/if}><a class="ajax" n:href="Deploy:default idPage => $idPage">{_'Deploy'}</a></li>
  <li {if $active == "settings"}class="active"{/if}><a class="ajax" n:href="Settings:default idPage => $idPage">{_'Settings'}</a></li>

  {var t = $basePathModule . "AdminModule/templates/system/boxes.latte"}
  {include $basePathModule id => $idPage}

</ul>